<form class="container mt-5" (ngSubmit)="updateTask()">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="task.name" required>
    <label for="name">Name</label>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select" id="urgency" name="urgency" [(ngModel)]="task.urgency" required>
      <option value="">Choose urgency</option>
      <option value="Baixa">Baixa</option>
      <option value="Média">Média</option>
      <option value="Alta">Alta</option>
    </select>
    <label for="urgency">Urgency</label>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>